.content {
  justify-content: center;
}

.column-right{
  background-image: -webkit-linear-gradient(0deg, #4ca57c 0%, #198754 100%);
  background-image: -ms-linear-gradient(0deg, #4ca57c 0%, #198754 100%);
  color: #fff;
  width: 380px !important;
  padding-left: 4rem !important;
}

.column-right a {
  color: white !important;
}

.column-left {
  background: white;
}

.form-control:focus {
  border-color: #198754 !important;
  box-shadow: inset 0 1px 1px #4ca57c, 0 0 8px #198754 !important;
}

.contact-info_list span.position-absolute {
  left: 0
}

.contact-info_list li {
  list-style: none;
}

.dagenWeek{
  padding-right: 4rem;
}

.fa-phone {
  color: white !important;
  font-size: 18px !important;
}


