.active {
  background: transparent;
}

.theme {
  cursor: pointer;
  transition: all 0.4s ease;
}

.theme:hover {
  opacity: 0.7;
}

/* Holidays Themes */
.active.halloween-theme {
  background-color: #3c6382;
}

.halloween-theme-icon {
  background-color: #9b59b6;
}

.active.christmas-theme {
  background-color: #218c74;
}

.christmas-theme-icon {
  background-color: #e55039;
}

.active.kingsday-theme {
  background-color: #e67e22;
}

.kingsday-theme-icon {
  background-image: linear-gradient(to bottom,
      red,
      red,
      red,
      red,
      white,
      white,
      white,
      white,
      mediumblue,
      mediumblue,
      mediumblue,
      mediumblue);
}

.active.motherday-theme {
  background-color: #fd79a8;
}

.motherday-theme-icon {
  background-color: #a29bfe;
}

.active.newyear-theme {
  background-color: #0fb9b1;
}

.newyear-theme-icon {
  background-color: #f7d794;
}

.active.easter-theme {
  background-color: #f8a5c2;
}

.easter-theme-icon {
  background-color: #c4e538;
}

.active.saint-nicholas-theme {
  background-color: #ff5e57;
}

.saint-nicholas-theme-icon {
  background-color: white;
}

.active.sint-maarten-theme {
  background-color: #00d8d6;
}

.sint-maarten-theme-icon {
  background-color: #fda7df;
}

.active.sugar-feast-theme {
  background-color: #9980fa;
}

.sugar-feast-theme-icon {
  background-color: #d980fa;
}

.active.valentine-theme {
  background-color: #f8a5c2;
}

.valentine-theme-icon {
  background-color: #ef5777;
}