/* Navbar: Components */
.christmas-title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  color: #00873e;
}

.christmas-tree {
  float: left;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  margin-right: 0.5em;
}

/* Banner Santa Text*/
.banner-santa-text {
  height: 500px;
  background-color: transparent;
  overflow: hidden;
  margin: 100px auto;
}

.banner-santa-text-box-title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 87px;

  /* Christmas gold */
  color: #ffeb3b;
}

.banner-santa-text-box-description {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  /* or 155% */
  color: black;
}

.banner-santa-text-box-button {
  border-radius: 15px;
  line-height: 87px;
}

/* Banner Santa Image */
.banner-santa-img-box {
  height: 500px;
  background-color: transparent;
  overflow: hidden;
}

.banner-santa-img-pink-box {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  margin: 0px auto;
  background-color: transparent;
  background-image: url("/images/index-icons/round-white-blue-medium.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.santa {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  margin: -20px auto;
  background-color: transparent;
  background-image: url("/images/index-icons/santa.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Filter: Title */
.filter-title {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 34px;
  /* or 155% */
  color: #ffeb3b;
}

/* Filter: Text */
.filter-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  /* or 155% */
  color: black;
}

/* Filter: Card descriptions */
.filter-cards-descriptions {
  justify-content: start;
  align-items: center;
}

.filter-card-box {
  width: 15em;
  justify-content: center;
  justify-items: stretch;
  align-items: center;
  background: #fefefe;
  border-radius: 10px;
}

.card-icon {
  float: right;
  background: #ffffff;
  border-radius: 10px;
}

.filter-card-text {
  float: left;
}

/* Filter: Cards */
.filter-cards {
  display: flex;
  overflow-y: hidden;
}

.filter-card-item {
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}

.filter-card-img {
  overflow: hidden;
  height: 225px;
  width: 200px;
}

.item-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.filter-card-heart {
  position: relative;
  top: -210px;
  right: -150px;
  height: 33px;
  width: 33px;
}

.filter-card-title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1e20;
}

.filter-card-description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1e20;
}

.filter-card-price {
  margin-left: 70%;
}

/** Custom Fonts */
.christmas-gold {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #ffeb3b;
}

.christmas-bg-red {
  background-color: #f4511e;
}

/* Holidays Themes */
.active.halloween-theme {
  background-color: #3c6382;
}

.halloween-theme-icon {
  background-color: #9b59b6;
}

.active.christmas-theme {
  background-color: #218c74;
}

.christmas-theme-icon {
  background-color: #e55039;
}

.active.kingsday-theme {
  background-color: #e67e22;
}

.kingsday-theme-icon {
  background-image: linear-gradient(to bottom,
      red,
      red,
      red,
      red,
      white,
      white,
      white,
      white,
      mediumblue,
      mediumblue,
      mediumblue,
      mediumblue);
}

.active.motherday-theme {
  background-color: #fd79a8;
}

.motherday-theme-icon {
  background-color: #a29bfe;
}

.active.newyear-theme {
  background-color: #0fb9b1;
}

.newyear-theme-icon {
  background-color: #f7d794;
}

.active.easter-theme {
  background-color: #f8a5c2;
}

.easter-theme-icon {
  background-color: #c4e538;
}

.active.saint-nicholas-theme {
  background-color: #ff5e57;
}

.saint-nicholas-theme-icon {
  background-color: white;
}

.active.sint-maarten-theme {
  background-color: #00d8d6;
}

.sint-maarten-theme-icon {
  background-color: #fda7df;
}

.active.sugar-feast-theme {
  background-color: #9980fa;
}

.sugar-feast-theme-icon {
  background-color: #d980fa;
}

.active.valentine-theme {
  background-color: #f8a5c2;
}

.valentine-theme-icon {
  background-color: #ef5777;
}