.navbar {
  background-color: transparent !important;
}

.christmas-tree {
  height: 2rem;
  width: 2rem;
  background-color: white;
  border-radius: 50%;
  margin-right: 0.5em;
}

.search-input {
  border-radius: 4px;
  width: 300px;
  margin-left: 1rem;
}

.navbar-toggler{
  margin-left: 1rem;
}

.gold {
  color: #ffeb3b !important;
}

.green {
  color: #198754;
}

.title {
  color: #000000;
}

.title:hover {
  color: #ffeb3b;
  box-shadow: inset 0 -2px 0px 0px #198754;
}

/* Remove underline from links */
a {
  text-decoration: none;
}

/* Make icons white */
.icon {
  color: white !important;
  margin-left: 1rem;
}

.inloggen {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
}

.uitloggen {
  margin-left: 1rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 230px) {
  .fa-heart, .fa-shopping-cart, .inloggen, .account-aanmaken {
    display: none;
  }
}





