.form-control:focus {
    border-color: #198754 !important;
    box-shadow: inset 0 1px 1px #4ca57c, 0 0 8px #198754 !important;
}
.form-select:focus {
    border-color: #198754 !important;
    box-shadow: inset 0 1px 1px #4ca57c, 0 0 8px #198754 !important;
}

.modal-content{
  background-image: -webkit-linear-gradient(0deg, #91a59c 0%, #68a78a 100%);
  background-image: -ms-linear-gradient(0deg, #91a59c) 0%, #68a78a 100%);
  color: #fff;
}