<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ContactPage</title>
  <link rel="stylesheet" href="../css/style.css" />
  <!--<link rel="stylesheet" href="../css/contact.css" />-->
</head>

<body>

  
  <form id="contact-form">
    <h1 class="text-center">Neem contact op</h1>
    <div class="form-group">
      <label for="inputName">Naam</label>
      <input type="text" class="form-control" id="inputName" placeholder="Vul uw naam in">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Vul uw email in">
    </div>
    <div class="form-group">
      <label>Onderwerp</label>
      <input type="text" class="form-control" id="inputSubject" placeholder="Vul uw onderwerp in">
    </div>
    <div class="form-group">
      <label for="inputMessage">Bericht</label>
      <textarea class="form-control" id="inputMessage" rows="5" placeholder="Vul uw bericht in"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Verstuur</button>
  </form>

  <h2>Onze vestiging</h2>

  <div class="vestiging">
    <h6>Hoofd vestiging - <a class="anchor anchor-small map-link" target="_blank"
        href="https://www.google.nl/maps/dir//Maps,+Oudezijds+Achterburgwal+78,+1012+DR+Amsterdam/@52.3733121,4.8282607,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47c6092ad5f59839:0x4ae3332df49c737b!2m2!1d4.8984701!2d52.3732286">KAART</a>
    </h6>
    <p>Achterburgwal 2<br>1012 DR Amsterdam<br></p>
  </div>

  <script type="module" src="../controller/contactController.js"></script>
</body>

</html>