<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freddy's feestwinkel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/table.css">
</head>

<body>
    <div class="main-container">
        <div class="main">
            <div class="container">
                <div class="container-fluid" style="height: auto;">
                    <h2 class="text-start">Klanten overzicht</h2>
                    <div class="table-responsive" id="tables">
                        <table class="table bg-white">
                            <thead class="bg-success text-white">
                                <tr>
                                    <th>Naam</th>
                                    <th>Email</th>
                                    <th>Adres</th>
                                    <th>Telefoonnummer</th>
                                    <th>Bijwerken</th>
                                    <th>Verwijderen</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="align-middle" id="klanten">
                                    <td data-title="Naam">Mark</td>
                                    <td data-title="Email">abc@gmail.com</td>
                                    <td data-title="Adres">snelstraat 15</td>
                                    <td data-title="Telefoonnummer">9876543456</td>
                                    <td data-title="Bijwerken">
                                        <button type="button" class="btn btn-success">
                                            Bijwerken
                                        </button>
                                    </td>
                                    <td data-title="Verwijderen">
                                        <button type="button" class="btn btn-danger">
                                            Verwijderen
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/settings.js"></script>
    <script type="module" src="/js/ophalenKlanten.js"></script>

</body>

</html>